/* === VARIABLES ===*/

:root {
    --color-azul: #015989;
    --color-amarillo: #F9B52B;
    --color-amarillo-opaco: #f8a90b;
    --color-rojo: #E64F41;
    --color-gris: #E8E8E8;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}

/* === GENERAL ===*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--color-blanco);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* === COMPONENTES ===*/

.cabecera {
    background-color: var(--color-blanco);
    padding: 20px 30px 05px;
    min-width: 320px;
}

.cabecera-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    max-width: 1800px;
    margin: 0 auto;
}

.logo img {
    height: 55px;
    padding: 8px 5px 5px;
    width: auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-item {
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: var(--color-azul);
    font-size: 15px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--color-rojo);
}

.btn-cta {
    text-decoration: none;
    background-color: var(--color-amarillo);
    color: var(--color-blanco);
    padding: 10px 10px 8px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.btn-cta:hover {
    background-color: var(--color-rojo);
}

.menu-hamburguesa {
    display: none;
    padding-bottom: 5px;
    font-size: 30px;
    cursor: pointer;
    color: var(--color-azul);
}

.btn-container {
    display: block;
}

.off-canvas {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--color-azul);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.off-canvas.show{
    right: 0;
}

.off-canvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--color-gris);
}

.off-canvas-logo {
    height: 40px;
    width: auto;
}

.close-btn {
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-amarillo);
    transition: color 0.3s ease-in-out;
}

.close-btn:hover {
    color: var(--color-rojo);
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    margin-top: -20px;
    justify-content: space-between;
}

.menu-offcanvas {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-offcanvas li {
    margin: 30px -19px;
    padding: 0 20px 20px;
    border-bottom: 1px solid var(--color-gris);
}

.menu-offcanvas a {
    text-decoration: none;
    color: var(--color-blanco);
    font-size: 23px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.menu-offcanvas a:hover {
    color: var(--color-amarillo);
}

.off-canvas-cta {
    text-align: center;
    margin-bottom: 70px;
}

.off-canvas .btn-cta {
    background-color: var(--color-amarillo-opaco);
    display: block;
    font-size: 20px;
    width: 100%;
    padding: 13px 16px 10px;
    text-align: center;
}

.hero-section {
    background: var(--color-azul) url('../media/estudiantes_fondo.jpg') no-repeat top center;
    max-width: 1800px;
    max-height: 900px;
    background-size: cover; 
    color: var(--color-blanco);
    height: 90vh; 
    width: 96%; 
    margin: 1rem auto; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    position: relative;
    z-index: 1;

    border-radius: 30px; 
    overflow: hidden;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-content {
    max-width: 40%;
    height: 250px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 5%;
}

.hero-title {
    padding-top: 10px;
    font-size: 3rem;
    line-height: 1.4;
    margin-bottom: 40px;
    font-family: 'Lemon Milk', sans-serif;
    text-transform: uppercase;
}

.hero-title span {
    font-size: 1.1em;
    color: var(--color-amarillo-opaco);
}

.btn-cta-hero {
    text-decoration: none;
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    padding: 24px 30px 18px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 12px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;

    display: block;
    width: auto;
    text-align: center;
    line-height: 1.2;
    margin: 0;
}

.btn-cta-hero:hover {
    background-color: var(--color-amarillo-opaco);
}
.about-section {
    background-color: var(--color-gris);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 40px auto;
    max-width: 1800px;
    width: 96%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-container {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1000px;
    flex-wrap: wrap;
}

.about-image img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    padding-right: 50px;
}

.about-content {
    flex: 1;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--color-negro);
}

.about-content h2 {
    font-family: 'Lemon Milk', sans-serif;
    color: var(--color-azul);
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-negro);
    text-align: justify;
}

.about-content strong {
    color: var(--color-amarillo);
}
.simulation-section {
    background-color: var(--color-amarillo);
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.simulation-container {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    width: 90%;
    flex-wrap: wrap;
    color: var(--color-blanco);
}

.simulation-content {
    flex: 1;
    text-align: left;
}

.simulation-content h2 {
    font-family: 'Lemon Milk', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--color-azul);
}

.simulation-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 50px;
    color: var(--color-blanco);
}

.simulation-text-large {
    display: block;
}
.simulation-text-small {
    display: none;
}

.simulation-content strong {
    color: var(--color-rojo);
}

.btn-simulation {
    text-decoration: none;
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    padding: 15px 30px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.btn-simulation:hover {
    background-color: var(--color-azul);
}

.simulation-image img {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
