:root {
    --color-azul: #015989;
    --color-amarillo: #F9B52B;
    --color-amarillo-opaco: #f8a90b;
    --color-rojo: #E64F41;
    --color-gris: #E8E8E8;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-img {
    height: 40px;
    padding: 8px 0px 5px;
    width: auto;
}

.header-title h1 {
    font-family: 'Lemon Milk', sans-serif;
    font-size: 2rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.header-title h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 1px;
    margin: 0;
}

.header-user p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.header-user span {
    color: var(--color-amarillo); 
}

/*Side Bar*/

.sidebar {
    width: 25%;
    padding: 50px;
    background-color: var(--color-blanco);
    border-right: 1px solid var(--color-gris);
    position: fixed; /* Mantiene el sidebar fijo en la ventana */
    top: auto; /* Inicialmente no está fijado */
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-in-out; /* Suaviza el movimiento */
}


.filter-header h3 {
    font-family: 'Lemon Milk', sans-serif;
    font-size: 1.2rem;
    color: var(--color-azul);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.progress-section p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
    color: var(--color-negro);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--color-gris);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    background-color: var(--color-amarillo);
    width: 0%; 
    transition: width 0.3s ease-in-out;
}

.timer-section .timer {
    font-family: 'Lemon Milk', sans-serif;
    font-size: 2rem;
    color: var(--color-azul);
    text-align: center;
    margin-bottom: 20px;
}

.dropdown-section select {
    width: 100%;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid var(--color-gris);
    border-radius: 5px;
    background-color: var(--color-blanco);
}

.option_dd{
    font-size: 0.8rem;
}

.finish-section {
    text-align: center;
}

.btn-finish {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.btn-finish:hover {
    background-color: #be0606;
}

/* Área de preguntas */
.questions-area {
    padding: 30px;
    margin-left: 25%; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question-card {
    width: 80%;
    background-color: var(--color-blanco);
    border-top: 1px solid var(--color-gris);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.7;
    padding: 40px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.question-header {
    display: flex;
    justify-content: space-between;
    color: var(--color-azul);
}

.question-number {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.question-category {
    font-size: 0.9rem;
    color: var(--color-amarillo);
    opacity: 0.9;
}

.question-body .question-text {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: var(--color-negro);
    margin-bottom: 10px;
}

.question-options label {
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: var(--color-negro);
    cursor: pointer;
}

.question-options input[type="radio"],
.question-options input[type="checkbox"] {
    margin-right: 10px;
}

.question-footer {
    text-align: right;
}

.report-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8rem;
    color: var(--color-rojo);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    opacity: 0.4;
}

.report-link:hover {
    color: var(--color-rojo);
    opacity: 1;
}

/* Tarjeta de texto para comprensión lectora */
.text-card {
    width: 80%;
    background-color: var(--color-blanco);
    border-top: 1px solid var(--color-gris);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin: 0 auto 20px; /* Centra horizontalmente con margin auto */
    line-height: 1.7;
}

.text-header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}

.text-title {
    font-family: 'Lemon Milk', sans-serif;
    font-size: 1.2rem;
    color: var(--color-azul);
}

.text-label {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    padding-top: 5px;
    color: var(--color-azul);
    opacity: 0.9;
}

.text-body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column; /* Para que texto e imagen se apilen */
    min-height: 200px; /* Define una altura mínima para que funcione bien con imágenes pequeñas */
    text-align: center; /* Centra el texto si es necesario */
}

.text-body p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: var(--color-negro);
    text-align: justify;
}

/* Ajustes para imágenes en el texto */
.text-body img {
    max-width: 100%;
    height: auto;
    padding: 20px 20px 5px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-card figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.graphic-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

figcaption {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8rem;
    color: var(--color-negro);
    opacity: 0.6;
    margin-top: 5px;
    text-align: center;
}

/* Modal Finalizar Prueba */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--color-blanco);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    min-height: 200px;
    line-height: 2;
    width: 90%;
}

.modal-content h2 {
    font-family: 'Lemon Milk', sans-serif;
    color: var(--color-rojo);
    margin-bottom: 5px;
}

.modal-content p {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--color-negro);
    font-size: 18px;
    width: 70%;
    margin: 0 auto 20px;
}

.btn-results {
    background-color: var(--color-amarillo);
    color: var(--color-blanco);
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-results:hover {
    background-color: var(--color-amarillo-opaco);
}

.pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    gap: 10px;
}

.pagination-btn {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-btn:hover {
    background-color: var(--color-amarillo);
}

.pagination-display {
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--color-negro);
    font-weight: bold;
}

/* Modal de Confirmación */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: var(--color-blanco);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal-content h2 {
    font-family: 'Lemon Milk', sans-serif;
    color: var(--color-azul);
    margin-bottom: 20px;
}

.modal-content p {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--color-negro);
    font-size: 1rem;
    margin-bottom: 10px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.btn-finish, .btn-cancel {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-finish {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    transition: background-color 0.3s ease-in-out;
}

.btn-finish:hover {
    background-color: #be0606;
}

.btn-cancel {
    background-color: var(--color-amarillo);
    color: var(--color-blanco);
    transition: background-color 0.3s ease-in-out;
}

.btn-cancel:hover {
    background-color: var(--color-amarillo-opaco);
}

@media (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column; /* Cambia la dirección a columna */
    }

    .sidebar {
        position: static; /* Elimina el comportamiento fijo */
        width: 100%; /* Ocupa el ancho completo */
        padding: 20px; /* Ajusta el padding para que sea uniforme */
        height: auto; /* Se ajusta automáticamente según el contenido */
        box-shadow: none; /* Opcional: elimina la sombra para que se integre con el contenido */
    }

    .questions-area {
        margin-left: 0; /* Elimina el espacio a la izquierda */
        padding: 20px; /* Ajusta el padding para que sea uniforme */
        width: 100%; /* Ocupa el ancho completo */
    }

    .question-card {
        width: 100%; /* Asegura que las preguntas ocupen todo el ancho */
        margin: 20px 0; /* Espaciado entre preguntas */
    }

    .text-card {
        width: 100%; /* Asegura que las tarjetas de texto ocupen todo el ancho */
        margin: 20px 0;
    }
}